body {
    margin :0;
    overflow: hidden;
    font-size: 12px;
    font-family: sans-serif;
    color: #444;
}

ul,li,p,h1,h2 {
    margin:0;
    padding:0;
}

.container {
    height:100%;
    width: 100%;

    display:grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 10% auto 10%;
}

#scene-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.overlay_button {
    grid-column:1 / -1;
    grid-row:1 / 2;

    width: 100%;
    height: 10vh;

    background-color: rgb(12, 12, 12);
}

.overlay_button ul {
    list-style-type: none;
    text-align: center;
    margin-top:25px;
}

.overlay_button ul li {
    display: inline-block;
    padding-left:5px;
    padding-right:5px;
}

.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}
.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.overlay_info {
    color:#fff;
    background-color: rgb(12, 12, 12);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 80vh;
}

.planet_info {
    list-style-type: none;
}

.planet_info img {
    width: 100%;
    height: 100%;
    padding-top:20px;
    padding-bottom:20px;
}

.planet {
    display:none;
    padding:20px 10px 20px 10px;
    text-align: center;
}

.display {
    display:block;
    transition: all .3s;
}

.footer {
    width: 100%;
    height:10vh;

    grid-column: 1 / -1;
    grid-row: 3 / 4;

    color:#ffffff;
    text-align: center;
    vertical-align: top;
    background-color: rgb(12, 12, 12);
}

.footer p {
    margin-top:5vh;
    margin-bottom:5vh;
}
